<p id="notice"><%= notice %></p>

<p>
  <strong>이름:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>거주지:</strong>
  <%= @user.place %>
</p>

<p>
  <strong>자기소개:</strong>
  <%= @user.introduction %>
</p>
<section>
  <%= form_with(model: @profile, local: true) do |form| %>


  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
      <% end %>
</section>

<!-- Add Friend 관련 목록 및 버튼 -->
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%= user.email %></strong>
      <% if user.friend_ids.empty? %>
        <% if user.inverse_friends.empty? %>
            <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
        <% end %>
      <% else %>
        <%= flash[:error] = "Unable to add friend." %>
      <% end %>

      <%= link_to "Destroy Friend", friendships_path(:friend_id => user), :method => :delete %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>

<h2>Your Friends</h2>
<ul>
  <% for user in @user.friends %>
  <li><%= user.email %></li>
  <% end %>
</ul>
