 <head>
 
    <style>



.sign{
  position: relative;
  margin: auto;
  padding: 20px 20px 20px;
  width: 500px;
  background: white;
}

.inputarea{    
  width: 345px;
  flex: 1;
  height: 40px;
  background-image: none;
  line-height: 24px;
  font-size: 18px;
  color: #574751;
  color: var(--maroon);
  border: none;
  border-bottom: 1px solid #ffc200;
    outline: none;
}


body {
  font: 13px/20px "MONTSERRAT", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: white;
}


input[type=submit] {
  padding: 0 40px;
  height: 46px;
  font-size: 12px;
  color: #fff;
  text-shadow: none;
  background: #7e57c2;
}


.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}


</style>

 </head>



<body>


<div class = "sign">
<h2>Start Using Amateur Studio!</h2>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "Email ", class: "inputarea"%>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length}characters minimum)", class: "inputarea" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" , placeholder: "Password confirmation" , class: "inputarea"%>
  </div>


    <div class="field">
      <%= f.text_field :name ,placeholder: "Name", class: "inputarea"%>
    </div>

    <div class="field">
      <%= f.text_field :place, placeholder: "Region", class: "inputarea"%>
    </div>

    <div class="field">
      <%= f.text_field :introduction, placeholder: "inroduce", class: "inputarea"%>
    </div>


  <div class="field">
    <%= f.radio_button :job, "Model"%> 
    <%= f.label :Model%>
    <%= f.radio_button :job, "Photographer"%>
    <%= f.label :Photographer%>
  </div>



  <button type="submit" class="btn btn-warning">SIGN UP</button>
  <%= render "devise/shared/links" %>


<% end %>


</div>

</body>