 <head>
 
    <style>

.signup{
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .3);
}



body {
  font: 13px/20px "MONTSERRAT", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #eeeae7;
}


input[type=submit] {
  padding: 0 40px;
  height: 46px;
  font-size: 12px;
  color: #fff;
  text-shadow: none;
  background: #00B87F;
  border: 1px solid;
  border-color: #07A06D;
  border-radius: 4px;
}

input[type=submit]:active {
  background: #07A06D;
}

input[type=submit]:hover {
  background: #07A06D;
}


.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}


</style>

 </head>



<body>


<div class = "signup">
<h2>Sign up</h2>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.radio_button :job, "Model"%> 
    <%= f.label :Model%>
    <%= f.radio_button :job, "Photographer"%>
    <%= f.label :Photographer%>
  </div>
    <div class="field">
      <%= f.label :이름 %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :거주지 %><br />
      <%= f.text_field :place%>
    </div>

    <div class="field">
      <%= f.label :자기소개 %><br />
      <%= f.text_field :introduction%>
    </div>

    <p class="submit"><input type="submit" name="commit" value="SIGN UP"></p>
<% end %>

<%= render "devise/shared/links" %>

</div>

</body>