<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>


<div class="w3-content w3-display-container" style="max-width:800px">
  <img class="mySlides" src="../assets/slide_img1.jpg" style="width:100%">
  <img class="mySlides" src="../assets/slide_img2.jpg" style="width:100%">
  <img class="mySlides" src="../assets/slide_img3.jpg" style="width:100%">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
<div class = "flex">
  <form action= "/home/photographer">
	   <button class="button button--itzel-black-photo button--size-l button--border-thin button--text-thin"><i class="button__icon icon icon_p"></i><span>Photographer</span></button>
  </form>
  <form action= "/home/model">
	   <button class="button button--itzel-black-model button--size-l button--border-thin button--text-thin"><i class="button__icon icon /app/assets/images/photographer.png"></i><span>Model</span></button>
  </form>
</div>

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="home_index.css" media="screen">

<div id="top"></div>
<section class="gallery">
	<div class="row">
    <ul>
    	<a href="#" class="close"></a>
        <% @post.each do |post| %>
          <div class="col-4 col-lg-auto">
            <div class="responsive">
              <div class="gallery_show">
                <a target="_blank">
                  <li>
                    <a href= "#item01">
                    <%= image_tag("#{post.image.main}")%>
                    </a>
                  </li>
                </a>
              </div>
            </div>
          </div>
        <% end %>

			<li>
				<a href="#item02">
					<img src="https://d13yacurqjgara.cloudfront.net/users/22177/screenshots/1474358/respecthustle-bearfight-jeremiahbritton-.png" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="https://d13yacurqjgara.cloudfront.net/users/22177/screenshots/1514374/essentialswallpaperdribbble-jeremiahbritton.jpg" alt="">
				</a>
			</li>

	<!-- Item 01 -->
	 <div id= "#item01" class="port">
		<div class="row">
			<div class="description">
				<h1>Item 01</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>
      <%= image_tag("#{post.image.main}") %>
			</div>
		</div> <!-- / row -->


 <!-- / row -->

	</div> <!-- / Item 02 -->
	<!-- Item 02 -->
	<div id="item02" class="port">
		<div class="row">
			<div class="description">
				<h1>Item 02</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>
			<img src="https://d13yacurqjgara.cloudfront.net/users/22177/screenshots/404704/wontstopblue-womens-jeremiahbritton.jpg" alt="">
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

</section> <!-- / projects -->

<script>
 // portfolio
 $('.gallery ul li a').click(function() {
     var itemID = $(this).attr('href');
     $('.gallery ul').addClass('item_open');
     $(itemID).addClass('item_open');
     return false;
 });
 $('.close').click(function() {
     $('.port, .gallery ul').removeClass('item_open');
     return false;
 });

 $(".gallery ul li a").click(function() {
     $('html, body').animate({
         scrollTop: parseInt($("#top").offset().top)
     }, 400);
 });
</script>

<!-- 모든 포스트 불러오기 -->

<%= render '/posts/indexofall', post: @post %>

<div class="text-center" id="posts">
  <%= paginate @posts %>
</div>
<div class="text-center" id="paginator">
  <%= link_to_next_page @posts, 'LOAD MORE',  id: 'load_more' %>
</div>
