
<div class="container">
<center><img src="../assets/44.jpg" style="width:100%" ></center>
</div>

<div class = "menu">
    <center>
        <!--<br><h2 style ="color : #484848">Who do you want?</h2>-->

    <div class="drawsvg" >
    <svg version="1.1" viewBox="0 0 1000 200">
      <symbol id="fade-text">
        <text x="50%" y="60%" text-anchor="middle" name="title"> Who do you want? </text>
      </symbol>

      <g>
        <use class="stroke" xlink:href="#fade-text"/>
        <use class="fill" xlink:href="#fade-text"/>
      </g>
    </svg>
</div>

    <div class = "menubtn" >
        <div class = "flex">
     <a href="/home/photographer"><img src="../assets/index/btn1off.png" onmouseover="this.src='../assets/index/btn1on.png'" onmouseout="this.src='../assets/index/btn1off.png'" style = " margin-bottom: 10px ; margin-right : 40px"></a>
     <a href="/home/model"><img src="../assets/index/btn2off.png" onmouseover="this.src='../assets/index/btn2on.png'" onmouseout="this.src='../assets/index/btn2off.png'" ></a>
   </div>
   </div>
    </center>
</div>



<!-- 모든 포스트 불러오기 -->

<%= render '/posts/indexofall', post: @post %>





<div class="container">
    <center>
    <div class = "flex">

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>
    </div>
    </div>
    </center>

    <center>
     <div class = "flex">

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;">
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title" >내용</h2>
        <p>작가이름</p>

        </div>

        <div class="col-4 ">
        <img src="../assets/44.jpg" style="width:60%;" >
        <h2  id = "title">내용</h2>
        <p>작가이름</p>

        </div>
    </div>
    </div>
    </center>
</div>


<h1>Friends List:</h1>

<h3>Welcome <%= current_user.name %></h3>

<h4>Your friends listed:</h4>

<ul>
	<% @users.each do |user| %>

		<% unless user == current_user || user == current_user && user.pending == true %>
      <li>
				<%= user.name %>
				<%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
      </li>
		<% end %>
	<% end %>
</ul>

<h4>Your awaiting friend requests:</h4>

<ul>
    <% current_user.requested_friendships.each do |request| %>
    <li>
      <%= request.name %>
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
    </li>
  <% end %>

</ul>

<h4>Your sent friend requests:</h4>

<ul>
    <% current_user.pending_friends.each do |request| %>
    <li>
      <%= request.name %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
    </li>
  <% end %>
</ul>

<h4> Your friends </h4>
<% current_user.friends.each do |request| %>
<li>
    <%= request.name %>
<% end %>
