<head>
  <link rel="stylesheet" type="text/css" href="user_show.css" media="screen">
</head>


<body>
<section class = "gray-box">
  <div class = "card-body">
     <div class = "flex">
      <div class = "img">
          <% if @user.image.file.nil? %>
              <img src="https://cdn0.vox-cdn.com/images/verge/default-avatar.v989902574302a6378709709f7baab789b242ebbb.gif" class="img-circle" >
          <% else%>

              <%= image_tag("#{@user.image.main}", class: 'img-circle')  %>

          <% end %>
       </div>

      <div class = "wrap">
          <div class = "text">
            <p>
              <strong>직업군:</strong>
              <%= @user.job %>
            </p>
            <p>
              <strong>이름:</strong>
              <%= @user.name %>
            </p>

            <p>
              <strong>거주지:</strong>
              <%= @user.place %>
            </p>

            <p>
              <strong>자기소개:</strong>
              <%= @user.introduction %>
            </p>

            <%= link_to 'Edit', edit_user_path(@user) %>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<div class = "purpleline">
<nav class="stroke">

  <ul class="mypagenav justify-content-center">
  <div class = "user_ul">
    <ul>
      <li class="mypagenav-item">
          <%= link_to 'New Post', (@user.present? ?  new_user_post_path(@user) : new_post_path), class: 'mypagenav-link' %>
      </li>
      <li class="mypagenav-item">
        <a class="mypagenav-link" href="/friendships/show" lang = "en">Friends</a>
      </li>
      <li class="mypagenav-item">
        <a class="mypagenav-link" href="/conversations/show" lang = "en">Chats</a>
      </li>
    </ul>
  </div>
</ul>
</nav>
</div>
    <!-- 해당 유저의 포스트들 -->
<% @post.each do |post| %>
  <div class="col-4 col-lg-auto">
    <div class="responsive">
      <div class="gallery_show">
        <a target="_blank">
          <%= image_tag("#{post.image.main}")%>
        </a>

      <div class="desc">
        <h2>
          <%= post.title%>
        </h2>
        <br>
        <%= link_to 'Show', (@user.present? ? [post.user, post] : post), class: 'btn btn-default' %>
        <%= link_to 'Edit', (@user.present? ? edit_user_post_path(post.user, post) : edit_post_path(post)), class: 'btn btn-default'%>
        <%= link_to 'Destroy', (@user.present? ? [post.user, post] : post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</body>
