<section class = "gray-box">

  <% if @user.image.file.nil? %>
      <%= image_tag("http://www.racialjusticenetwork.co.uk/wp-content/uploads/2016/12/default-profile-picture.png") %>
  <% else%>

      <%= image_tag("#{@user.image}") %>

  <% end %>
  <p>
    <strong>이름:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>거주지:</strong>
    <%= @user.place %>
  </p>

  <p>
    <strong>자기소개:</strong>
    <%= @user.introduction %>
  </p>

  <%= link_to 'Edit', edit_mypage_path(@user) %>

</section>


<p>Username: <%= @user.name %></p>


<h2>Friends</h2>
<ul>
  <% for friendship in @a_user.friendships %>
    <li>
      <%= friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", friendships_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @a_user.inverse_friends %>
    <li><%= user.name %></li>
  <% end %>
</ul>
