<!DOCTYPE html>
<html>
<head>
  <title>AmateurStudio</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="stylesheet/application.css" media="screen" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<style type="text/css">
body {
    background-color: white;
}

.navbar {
  border-bottom: 1px solid #000000;
  width: 75%;
}

</style>
</head>
<!-- navbar -->
 <header>
   <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <a class="navbar-brand" href="/home/index"><!-- <img src ="../assets/logo.png" style = "width:60%; margin-top:10px; margin-left:10px;"> --> AmateurStudio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup navbarText">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item top-nav">
             <span class="navbar-text">
               <a href="/user/<%= current_user.id%>"><%= current_user.email %></a>
            </span></li>
            <li class="nav-item">
            <span class="navbar-text top-nav">
               <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
            </span></li>
          <% else %>
              <li class="nav-item">
              <span class="navbar-text top-nav">
                <%= link_to "Sign in", new_user_session_path %>
              </span></li>
              <li class="nav-item">
              <span class="navbar-text top-nav">
                <%= link_to "Sign up", new_user_registration_path %>
              </span></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<body>
  <div class="container">
        <%= yield %>
  </div>
  <img src="../assets/topButton.png" onclick="topFunction()" id="myBtn" title="Go to top">

  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Chrome, Safari and Opera
        document.documentElement.scrollTop = 0; // For IE and Firefox
    }

</script>



</body>

<footer>
 <center>
    <a href="/"><img src="../assets/footer/서비스소개off.png" onmouseover="this.src='../assets/footer/서비스소개on.png'" onmouseout="this.src='../assets/footer/서비스소개off.png'"></a>
    <a href="/"><img src="../assets/footer/이용약관off.png" onmouseover="this.src='../assets/footer/이용약관on.png'" onmouseout="this.src='../assets/footer/이용약관off.png'"></a>
</center>
</footer>
</html>
