<!DOCTYPE html>
<html>
<head>
  <title>AmateurStudio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

 <link rel="stylesheet" href="css/custom.css">
</head>



<!-- Header -->
  <header class="header">




    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars text-white"></span>
      </button>


      <h1 class="brand">
        <a href="/home/index"><img src ="../assets/logo.png" style = "width:60%; margin-top:10px; margin-left:10px;"></a>
      </h1>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
        <ul class="navbar-nav">



          <li class="nav-item active">

           <ul class="nav-link px-lg-4" >
              <% if user_signed_in? %>
              <li class="nav-item">


                  <a href="/user/<%= current_user.id%>" ><%= current_user.email %></a>
                  </li>


              <li class = "nav-item">

                <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
              <% else %>
                  <li class = "nav-item">

                  <%= link_to "Sign in", new_user_session_path %></li>

                  <li><%= link_to "Sign up", new_user_registration_path %></li>
              <% end %>

              </li>

              <br>


            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>



          </ul>



      </div>
    </nav>



  </header>
  <!-- // Header -->




<body>


<div class="container">
      <%= yield %>
    </div>
    <div class="fixed-action-btn horizontal click-to-toggle" >
    <a href="#" class="top"><img src ="../assets/위로.png" width="40px" height="40px" align = "right" style =" margin-bottom  : 10px"> </a>
 </div>
</div>

<script>
    <!--위로올라가기-->
    $( window ).scroll( function() {
	    if ( $( this ).scrollTop() > 200 ) {
	        $( '.top' ).fadeIn();
	    }
	    else {
	        $( '.top' ).fadeOut();
	    }
	} );

    $( '.top' ).click( function() {
	    $( 'html, body' ).animate( { scrollTop : 0 }, 400 );
	    return false;
	} );
</script>

</body>


<footer>

 <center>
    <a href="/"><img src="../assets/footer/서비스소개off.png" onmouseover="this.src='../assets/footer/서비스소개on.png'" onmouseout="this.src='../assets/footer/서비스소개off.png'"></a>
    <a href="/"><img src="../assets/footer/이용약관off.png" onmouseover="this.src='../assets/footer/이용약관on.png'" onmouseout="this.src='../assets/footer/이용약관off.png'"></a>
</center>

</footer>
</html>
